---
import BaseHead from "@/components/BaseHead.astro";
---

<!doctype html>
<html lang="en">
	<BaseHead {...Astro.props}/>
	<body class="p-2 flex flex-col min-h-screen shadow-sm bg-cover bg-center bg-no-repeat backdrop-blur-sm bg-secondary overflow-x-hidden">
		<slot />
	</body>
</html>

